<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>334347416075-m5e2oqonjj7in24raa8d8o071jrs32cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334347416075-m5e2oqonjj7in24raa8d8o071jrs32cn</string>
	<key>API_KEY</key>
	<string>AIzaSyB0__tJ2DNHxkDP9UyUU761fZURB1mZaRs</string>
	<key>GCM_SENDER_ID</key>
	<string>334347416075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ray.Firebase-SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-8104d</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-8104d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:334347416075:ios:7c88a8c414476805</string>
	<key>DATABASE_URL</key>
	<string>https://snapchatclone-8104d.firebaseio.com</string>
</dict>
</plist>